
$dark: #114B5F;
$dark-green: #1A936F;
$med-green: #88D498;
$light-green: #C6DABF;
$light: #F3E9D2;


#grid-container {
  display: grid;
  grid-template: 75px 1fr 75px / 200px 1fr;
  height: 800px;
}

header {
  grid-area: 1 / 1 / 1 / 3;
  background-color: $dark-green;
  padding: .5rem;
}
footer {
  grid-area: 3/ 1 / 3 / 3;
  background-color: $dark;
  padding: .5rem;
  color: white;
}

#sidebar {
  grid-area: 2 / 1 / 2 / 1;
  text-align: center;
  background-color: $med-green;
  padding: 1rem;
}

#content {
  grid-area: 2 / 2 / 2 / 2;
  background-color: $light;
  padding: 1rem;
}
.clear {
  clear: both;
}

.sidebar-content {
  border: 1px solid black;
  background-color: $light-green;
  margin-bottom: 2rem;
}
#account-container {

  #new-account {
    background-color: $dark-green;
  }
  .account-name {
    float: left;
    margin-left: .25rem;
  }
  .account-total {
    float: right;
    margin-right: .25rem;
  }
}
