<section id="sidebar">

  <div class="sidebar-content">
    <ul>
      <li>
        Accounts
      </li>
      <li>
        Budget
      </li>
      <li>
        Reports
      </li>
    </ul>
  </div>
<div id="account-container" class="sidebar-content">
<%= render @accounts %>


<div class="account-name">Total:</div>
<div class="account-total">
  <%= @budget.total %>
  </div>
<div class="clear"></div>
<div id="new-account">
<%= link_to "New Account", "#" %>
</div>
</div>
</section>
