<div class="account-name">
<%= link_to account.name, budget_account_path(budget_id: account.budget.id, id: account.id) %>
</div>
<div class="account-total">
<%= account.total %>
</div>
<div class="clear"></div>
