<div id="transaction-container">
  <div>Date</div>
  <div>Payee</div>
  <div>Category</div>
  <div>Amount In</div>
  <div>Amount Out</div>
<%= render @transactions %>
<%= link_to "New Transaction", "#" %>
</div>
